SECRET_KEY="YOUR-SECRET-KEY"

# 0 False, 1 True
DEBUG="1"

# Comma separated values
ALLOWED_HOSTS="127.0.0.1, localhost"

# django.db.backends.postgresql for PostgreSQL
# django.db.backends.sqlite3 for SQLite
DB_ENGINE="django.db.backends.postgresql"
POSTGRES_DB="CHANGE-ME"
POSTGRES_USER="CHANGE-ME"
POSTGRES_PASSWORD="CHANGE-ME"
POSTGRES_HOST="CHANGE-ME"
POSTGRES_PORT="5432"