version: '3.9'

services:
  django-statbov:
    container_name: django-statbov
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "8000:8000"
    volumes:
      - ./statbov:/statbov
      - ./data/web/static:/data/web/static/
      - ./data/web/media:/data/web/media/
    env_file:
      - .env
    depends_on:
      - postgres-statbov
  postgres-statbov:
    container_name: postgres-statbov
    image: postgres:18.1-alpine
    ports:
      - "5432:5432"
    volumes:
      - ./data/postgres/data:/var/lib/postgresql/data/
    env_file:
      - .env