{% extends 'base/lading.html' %}
{% block title %}
    Sobre Nós | Statbov
{% endblock %}
{% block main-container %}
    <div class="position-absolute top-50 start-50 translate-middle fs-3 text-center">
        <div>
            <h1>A nossa missão.</h1>
            <p class="fs-5 mt-4">Nosso objetivo é simplificar e otimizar as tarefas diárias dos criadores de gado de corte, oferecendo ferramentas poderosas para o controle completo do rebanho, desde o nascimento dos bezerros até a venda dos animais.</p>
            <p class="fs-5 mt-4">Com nossa plataforma, os produtores podem acompanhar o desempenho individual de cada animal, gerenciar registros sanitários, controlar a alimentação e rastrear o histórico de manejo, tudo em um só lugar.</p>
            <p class="fs-5 mt-4">Acreditamos que a tecnologia pode impulsionar a produtividade e a rentabilidade da pecuária de corte.</p>
            <p class="fs-5 mt-4">Por isso, nos esforçamos para oferecer recursos avançados, como análise de dados, inteligência artificial e integração com dispositivos de monitoramento, permitindo aos produtores tomar decisões mais informadas e estratégicas.</p>
        </div>
    </div>
{% endblock %}