/* Mobile */
@media (max-width: 480px) {
    .login-container {
        width: 300px;
    }
}

/* Extra small devices */
@media (min-width: 481px) and (max-width: 767px) {
    .login-container {
        width: 300px;
    }
}

/* Small tablets */
@media (min-width: 768px) and (max-width: 991px) {
    .login-container {
        width: 300px;
    }
}

/* Large tablets/laptops */
@media (min-width: 992px) and (max-width: 1199px) {
    .login-container {
        width: 300px;
    }
}

/* Desktops, notebooks hd */
@media (min-width: 1200px) and (max-width: 1919px) {
    .login-container {
        width: 300px;
    }
}

/* Extra large screens */
@media (min-width: 1920px) {
    .login-container {
        width: 400px;
    }
}
