{% load static %}
<!doctype html>
<html lang="en" data-bs-theme="dark">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Index</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" type="text/css"/>
    <script href="{% static 'js/bootstrap.min.js' %}"></script>
</head>
<body>
<div class="container">
    <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4">
      <div class="col-md-3 mb-2 mb-md-0">
        <a href="#" class="d-inline-flex link-body-emphasis text-decoration-none">
            <span class="fs-4">Statbov</span>
        </a>
      </div>

      <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
        <li><a href="#" class="nav-link px-2">Início</a></li>
        <li><a href="#" class="nav-link px-2">Planos</a></li>
        <li><a href="#" class="nav-link px-2">Blog</a></li>
        <li><a href="#" class="nav-link px-2">Suporte</a></li>
        <li><a href="#" class="nav-link px-2">Sobre nós</a></li>
      </ul>

      <div class="col-md-3 text-end">
        <button type="button" class="btn btn-outline-primary me-2">Entrar</button>
        <button type="button" class="btn btn-primary">Registrar</button>
      </div>
    </header>
</div>
<div class="container">
    <div class="position-absolute top-50 start-50 translate-middle fs-3">Index</div>
</div>
</body>
</html>