{% extends 'base/base.html' %}
{% block body %}
    <div class="container">
        <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4">
            <div class="col-md-1 mb-2 mb-md-0">
                <a href="{% url 'index' %}" class="d-inline-flex link-body-emphasis text-decoration-none">
                    <span class="fs-3 fw-bold">Statbov</span>
                </a>
                <span class="badge bg-info-subtle border border-info-subtle text-info-emphasis rounded-pill">Experimental</span>
            </div>

            <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
                <li><a href="{% url 'index' %}" class="nav-link px-2">Início</a></li>
                <li><a href="{% url 'plans' %}" class="nav-link px-2">Planos</a></li>
                <!-- <li><a href="{% url 'blog' %}" class="nav-link px-2">Blog</a></li> -->
                <li><a href="{% url 'support' %}" class="nav-link px-2">Suporte</a></li>
                <li><a href="{% url 'about' %}" class="nav-link px-2">Sobre nós</a></li>
            </ul>

            <div class="col-md-3 text-end">
                <a href="{% url 'login' %}" class="btn btn-outline-primary me-2">Entrar</a>
                <a href="{% url 'signup' %}" class="btn btn-primary">Registrar</a>
            </div>
        </header>
    </div>
    <div class="container">
        {% block main-container %}{% endblock %}
    </div>
{% endblock %}