{% extends 'base/base.html' %}
{% load static %}
{% block extend_head %}
	<link href="{% static 'css/login_signup.css' %}" rel="stylesheet" type="text/css">
{% endblock %}
{% block body %}
    <body class="align-items-center">
    <div class="login-container position-absolute top-50 start-50 translate-middle">
        <div class="text-center">
            <a class="fs-1 fw-bold text-decoration-none text-white" tabindex="-1" href="{% url 'index' %}">Statbov</a>
            <div class="fs-4 mb-3">{% block call_to_action %}{% endblock %}</div>
        </div>
        <!-- Messages -->
        <div>
            {% if messages %}
            	{% for message in messages %}
                    <div class="text-center {{ message.tags }}">
                        {{ message }}
                    </div>
            	{% endfor %}
            {% endif %} 
        </div>
        <form action="{% block form_action %}{% endblock %}" method="post">
            {% csrf_token %}
            <div class="input-group col-md-2">
                <div class="form-floating">
                    {{ form.first_name }}
                    <label for="floatingInput1 {{ form.first_name.id_for_label }}">{{ form.first_name.label }}</label>
                </div>
                <div class="form-floating">
                    {{ form.last_name }}
                    <label for="floatingInput1 {{ form.last_name.id_for_label }}">{{ form.last_name.label }}</label>
                </div>
            </div>
            <div class="input-group">
                <div class="form-floating">
                    {{ form.email }}
                    <label for="floatingInputGroup1 {{ form.email.id_for_label }}">{{ form.email.label }}</label>
                </div>
            </div>
            <div class="input-group">
                <div class="form-floating">
                    {{ form.password }}
                    <label for="floatingPassword {{ form.password.id_for_label }}">{{ form.password.label }}</label>
                </div>
                <i class="fa fa-eye input-group-text border-top-0 border-start-0 rounded-top-0 mx-auto pt-md-3 pt-3 col-2 bg-body"
                   style="font-size:20px"></i>
            </div>
            <button type="submit" class="btn btn-primary position-relative start-50 translate-middle-x mt-3">
                {% block text_button %}{% endblock %}
            </button>
            <div class="text-center mt-3 d-flex justify-content-center align-items-center flex-column flex-md-row">
                <div>{% block question_text %}{% endblock %}</div>
                <div><a href="{% block link_redirect %}{% endblock %}" class="text-decoration-none ms-md-1">
                    {% block text_link_redirect %}{% endblock %}</a></div>
            </div>
        </form>
    </div>
    <script src="{% static 'js/login_signup.js' %}"></script>
    </body>
{% endblock %}