on: [ push, pull_request ]

name: Tests

jobs:
  code-quality:
    name: Code Quality
    runs-on: ubuntu-latest

    steps:
      - name: Copy files from repo
        uses: actions/checkout@v6

      - name: Install Python
        uses: actions/setup-python@v6
        with:
          python-version: '3.12'

      - name: Install Poetry
        run: |
          python -m pip install --upgrade pip
          pip install poetry
          poetry config virtualenvs.create false
      
      - name: Install dependencies
        run: poetry install

      - name: Run Ruff
        run: poetry run ruff check .; poetry run ruff check . --diff
      
      - name: Run Radon
        run: poetry run radon cc ./statbov -a -na
      
      - name: Run MyPy
        run: poetry run mypy -p statbov -p tests

  tests:
    name: Tests
    needs: code-quality
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      max-parallel: 4
      matrix:
        os: [macos-latest, ubuntu-latest, windows-latest]
        python-version: [ 3.12 ]
    env:
      DJANGO_SETTINGS_MODULE: ${{ secrets.DJANGO_SETTINGS_MODULE }}
      DEBUG: ${{ secrets.DEBUG }}
      SECRET_KEY: ${{ secrets.SECRET_KEY }}
      DB_ENGINE: ${{ secrets.DB_ENGINE }}
      POSTGRES_DB: ${{ secrets.POSTGRES_DB }}
      ALLOWED_HOSTS: ${{ secrets.ALLOWED_HOSTS }}
    steps:
      - name: Copy files from repo
        uses: actions/checkout@v6

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.python-version }}
          
      - name: Install Dependencies
        run: |
          python -m pip install --upgrade pip
          pip install poetry
          poetry config virtualenvs.create false
          poetry install

      - name: Run Tests
        run: |
          poetry run python manage.py collectstatic --noinput
          poetry run python manage.py check
          poetry run python manage.py migrate
          poetry run pytest -m "not functional_test and not not_in_sqlite" -s -x --cov=statbov -vv
